<div class="chat">
  <div class="chat-header clearfix">
    <img src="../../../assets/images/result.png" alt="LuzBot">
    <div class="chat-about">
      <div class="chat-with">
        <h3 class="mt-2"> Chat con Luzio </h3>
      </div>
    </div>
    <!-- <button class="align-right" mat-icon-button mat-dialog-close>
        <mat-icon aria-label="close">close</mat-icon>
    </button> -->
  </div>

  <message-list [messages]="messages"></message-list>
  <message-form [message]="message" [messages]="messages"></message-form>
</div>
