.chatform{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: -2px 2px 5px #999;
  -webkit-box-shadow: -2px 2px 5px #999;
  -moz-box-shadow: -2px 2px 5px #999;
}

.header{
  font-weight: bold;
}
