.pop-up{
  position: absolute;
  top: 80%;
  right: 3%;
  width: 70px;
  height: 70px;

  border: 2px solid hsl(199, 67%, 42%);
  border-radius: 100%;
  box-shadow: 0 4px 43px 10px rgba(158,199,250,0.90);

  transition: all 0s ease;
  background-image: url('../assets/images/luz.png');
}
.pop-click{
  width: 50%;
  height: 50%;
  margin: 10px auto;
  padding: auto;
  background-color: transparent;

}
